{% load i18n %}
<body class="w3-light-grey">
        <div class="w3-light-grey" style="margin-left:300px; margin-top: 50px;">
<br> <br>
<h4>{% trans "Credential has already been sent" %}</h4>


<div class="w3-container">
{% for credential in credentials %}
<body class="w3-white">

                        <a href=''>
                                <h4>{% trans "Credential" %}</h4><br>
                        </a>

                        <p><b>Schema : </b>{{ credential.schema_id }}</p>
                        <p><b>Cred Def : </b>{{ credential.cred_def_id }}</p>
                        <p><b>Referent : </b>{{ credential.referent }}</p>
                        {% for x, y in credential.attrs.items %}
                                <p><b>{{ x }} : </b>
                                {{ y }}</p>
                        {% endfor %}

{% endfor %}

