{% load i18n %}
<h4>{% trans "Credential has already been sent" %}</h4>
{% for credential in credentials %}
<div class='newsfeed-posted-cont'>
        <div class='newsfeed-posted-event-opps-cont'>
                <div>
                        <a href=''>
                                <h4>{% trans "Credential" %}</h4><br>
<!--                            <h6>Date Aquired</h6> -->
                        </a>
                </div>
                <div>
                        <p><b>Schema : </b>{{ credential.schema_id }}</p>
                        <p><b>Cred Def : </b>{{ credential.cred_def_id }}</p>
                        <p><b>Referent : </b>{{ credential.referent }}</p>
                        {% for x, y in credential.attrs.items %}
                                <p><b>{{ x }} : </b>
                                {{ y }}</p>
                        {% endfor %}

                </div>
                <br>
        </div>
</div>
{% endfor %}

<div class='newsfeed-post-seperator'></div>
