{% load i18n %}


<body class="w3-light-grey">
<div class="w3-light-grey" style="margin-left:20px; margin-top: 50px;">
    <div class="w3-card-4" style="margin-left:350px;width:35%">
          <header class="w3-container w3-light-blue">
          <h1><center><i class="fa fa-address-card" aria-hidden="true"></center></i></h1>
          </header>
    <div class="w3-container w3-white" style="font-size: 10px">

    <H4>
        <b>Solicitante</b>
    </H4>
    <h4>
                {{ partner_name }}
    </h4>
     <BR>
     {% for proposed_attrs in proposed_attrs %}
            <p>
     <h4>
            <b>{{ proposed_attrs.name }}</b>
     </h4>
     <h4>
            {{ proposed_attrs.value }}
     </h4>
        {% endfor %}
    </div>
</div>