{% load i18n %}
{% load static %}

<body class="w3-white">
        <div class="w3-white" style="margin-left:0px; margin-top: 50px;">
<div class="w3-container">
{% for credential in credentials %}
    <div class="row">
        {% if forloop.counter|divisibleby:2 %}
        <div class="column">
          {% include "aries/pageIncludes/profilecredentialdetail.html" %}
        </div><br>
        {% else %}
        <div class="column">
            {% include "aries/pageIncludes/profilecredentialdetail.html" %}
        </div>
      {% endif %}
    </div>
    {% endfor %}
