{% load i18n %}
{% load static %}

<body class="w3-white">
        <div class="w3-light-gray" style="margin-left:300px; margin-top: 50px;">
                <!-- <b>{% trans "Agent Connections" %}</b><BR><BR> -->
                <div>
                {% if request.session.ACTIVE_ORG %}
                {% trans "Connection Invite" %} :
                        <a href="{% url 'send_invitation' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user"></i>{% trans "Personal" %}</a>
                        <a href="{% url 'send_invitation_org' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-university"></i>{% trans "Organization" %}</a>
                {% else %}
                {% trans "Connection Invite" %}:
                        <a href="{% url 'send_invitation_org' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-university"></i>{% trans "Organization" %}</a>
                {% endif %}
                        <a href="{% url 'connection_response' %}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-user-secret"></i>{% trans "External" %}</a>
                </div>
        </div>
        <div class="w3-white">
                    <br><br>
        {% for invitation in invitations %}
            <div class="w3-card-4" style="margin-left:350px;width:35%">
                <header class="w3-container w3-light-blue">
                    <h1><center><i class="fa fa-handshake-o" aria-hidden="true"></center></i></h1>
                </header>
            <div class="w3-container w3-white" style="font-size: 10px">
                <div>
                    <a href=''>
                        <h2>{{ invitation.partner_name }}</h2>
                    </a>
                </div>
                <div>
                    <h4>
                        <a href="{% url 'connection_response' %}?id={{invitation.id}}"><i class="fa fa-check" style="color:green" aria-hidden="true" title="{% trans "Accept" %}"></i></a>
                        <a href="{% url 'connection_qr' token=invitation.id %}"><i class="fa fa-qrcode" style="color:green" aria-hidden="true" title="{% trans "Mobile QR" %}"></i></a>
                    </h4>
                </div>
            </div>
        </div>
        <br>
        {% endfor %}
         {% for connection in connections %}
            <div class="w3-card-4" style="margin-left:350px;width:35%">
                <header class="w3-container w3-light-blue">
                    <h1><center><i class="fa fa-handshake-o" aria-hidden="true"></center></i></h1>
                </header>
            <div class="w3-container w3-white" style="font-size: 10px">
                    <b>Nome</b>
                    <h4>{{ connection.partner_name }}</h4>
                    <b>GUID</b>
                    <h4>{{ connection.guid }}</h4>
                    <b>Estado</b>
                    <h4>
                        {{ connection.status }}
                        {% if connection.status == 'invitation' %}
                                <a href="{% url 'check_connection' %}?id={{connection.guid}}">({% trans "Check Status" %})</a>
                            {% endif %}
                            {% if connection.status == 'request' %}
                                <a href="{% url 'check_connection' %}?id={{connection.guid}}">({% trans "Check Status" %})</a>
                            {% endif %}
                            {% if connection.status == 'response' %}
                                <a href="{% url 'check_connection' %}?id={{connection.guid}}">({% trans "Check Status" %})</a>
                        {% endif %}
                    </h4>
            </div>
            <div class="w3-container w3-light-blue">

                    {% if request.session.ACTIVE_ORG %}
                        {% if connection.status == 'active' or connection.status == 'response' %}
                            <h4><center>
                                <a href="{% url 'select_credential_offer' %}?connection_id={{connection.guid}}"><i class="fa fa-id-card" title="{% trans "Send Credential" %}"></i></a>
                                <a onclick="removeConnection('connection_id={{connection.guid}}')"> <i class="fa fa-remove" title="{% trans "Remove connection" %}"></i></a>
                                <a href="{% url 'select_proof_request' %}?connection_id={{connection.guid}}"><i class="fa fa-refresh" title="{% trans "Send Proof Request" %}"></i></a>
                                <a href="{% url 'send_message' %}?connection_id={{connection.guid}}"><i class="fa fa-envelope" title="{% trans "Send message" %}"></i></a>
                            </center></h4>
                        {% endif %}
                    {% else %}
                        <h4><center>
                            <a href="{% url 'remove_connection' %}?connection_id={{connection.guid}}"><i class="fa fa-remove" title="{% trans "Remove" %}"></i></a>
                            <a href="{% url 'select_credential_proposal' %}?connection_id={{connection.guid}}&connection_partner_name={{connection.partner_name}}"><i class="fa fa-id-card" title="{% trans "Credential proposal" %}"></i></a>
                        </h4></center>
                    {% endif %}

            </div>
        </div>
                </div>
</div>
        <br>
{% endfor %}

<script>
    function removeConnection(connection_id) {
        Swal.fire({
            title: '{% trans "Remove connection" %}',
            text: connection_id,
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            cancelButtonText: '{% trans "No" %}',
            confirmButtonText: '{% trans "Yes" %}'
        }).then((result) => {
            if (result.value) {
                 window.location = "{% url 'remove_connection' %}?" + connection_id;
        }
    })
    }
</script>
