django>=2.1.6,<3
djangorestframework>=3.9.1,<4
djangorestframework-bulk>=0.2.1,<1
django-cors-headers>=2.4.0,<3
django-filter>=1.1.0
python-dateutil>=2.7.2
#-e git+https://github.com/deschler/django-modeltranslation.git#egg=django-modeltranslation
django-extensions
markdown~=3.1.1
requests~=2.23.0
aiohttp~=3.6.2
pyyaml
pyqrcode
pypng
pkce
urllib3
pillow
sweetify
django-settings-export
django_token
django-widget-tweaks
django-crispy-forms
pyopenssl
git+https://github.com/ianco/aries-cloudagent-python#egg=aries-cloudagent
