{% extends request.session.ARIES_PROFILE %}

{% load i18n %}
{% block page_title %} {% trans "Form Response" %} {% endblock %}

<body class="w3-light-grey">
{% block profile_content %}
<div class="w3-main" style="margin-left:350px;margin-top:53px;">
    <body class="w3-light-grey">
<h2>{{ msg }}</h2>
              <div>
                <p class="w3-medium"><b>{{ msg_txt }}</p></b>
              </div>
              <div>
                <p class="w3-medium"><b>{{ msg_txt2 }}</p>
              </div>
</div>
</body>
{% endblock %}