{% extends request.session.ARIES_PROFILE %}

{% load i18n %}
{% load static %}

<body class="w3-light-grey">
<div class="w3-light-grey" style="margin-left:300px; margin-top: 50px;">
{% block profile_content %}
	<div class='profile-tabs profile-tabs-credentials'>
		<div id='profilecredentials'>
			{% include "aries/pageIncludes/profilecredentials_exist.html" %}
		</div>
	</div>
{% endblock %}

{% block profile_script %}
	<script>
		$(document).ready(function() {
			$(".profile-tabs-credentials").show();
			$(".profile-nav-btn-credentials").addClass("active-profile-nav");
		});
	</script>
{% endblock %}
