{% extends request.session.ARIES_PROFILE %}

{% load i18n %}
{% load static %}

{% block profile_content %}
	<div class='profile-tabs profile-tabs-credentials'>
		<div id='profilecredentials'>
			{% include "aries/pageIncludes/profilecredentials.html" %}
		</div>
	</div>
{% endblock %}

{% block profile_script %}
	<script>
		$(document).ready(function() {
			$(".profile-tabs-credentials").show();
			$(".profile-nav-btn-credentials").addClass("active-profile-nav");
		});
	</script>
{% endblock %}
