{% extends request.session.ARIES_PROFILE %}

{% load i18n %}
{% load static %}


{% block profile_content %}
	<form action="{% url 'cred_proposal_delete' %}" method="POST">
              {% csrf_token %}
              {% for field in form %}
                <div>
                  {% if not field.is_hidden %}
                    <h5>{{ field.label_tag }}</h5>
                  {% endif %}
                  {{ field }}
                  {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
                </div>
              {% endfor %}
              <button class='btn' type="submit">{% trans "Delete" %}</button>
    </form>
{% endblock %}
