{% extends 'base_landing.html' %}

{% load i18n %}
{% load static %}

{% block title %}Welcome to Anon.world{% endblock %}

{% block main_content %}
	<div class='landing-page-cont'>
		<div class='atria-logo'>
			<img src="{% static "/serpro/serpro-greylime.png" %}" align="middle">
		</div>

		<div class='sign-in-cont'>
			<div class='btns-sign-in-cont'>
				<h4>{% trans 'Already Have an Account?' %}<b> {% trans "Sign in as:" %}</b></h4>
				<div>   
					<div class='btn btn-signin-vol'>{% trans 'Individual' %}</div>
					<div class='btn btn-signin-org'>{% trans 'Organization' %}</div>
				</div>
			</div>
			<div class='signin-dropdown signin-dropdown-vol'>
				<div class='signin-dropdown-inner'>
					<h5>{% trans 'Individual Login' %}</h5>
					<form method="post" action="{% url 'login' %}">
					{% csrf_token %}
{% if form.errors %}
						<p>{% trans "Your username and password didn't match." %}</p>
						<p>{% trans "Please try again." %}</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
						<p>{% trans "Your account doesn't have access to this page." %} </p>
    					<p>{% trans "To proceed, please login with an account that has access." %} </p>
    {% else %}
    <p>{% trans 'Please login to see this page.'%}</p>
    {% endif %}
{% endif %}
					<div class='signin-input-cont'>
						<h6>{{ form.username.label_tag }}</h6>
						{{ form.username }}
					</div>
					<div class='signin-input-cont'>
						<h6>{{ form.password.label_tag }}</h6>
						{{ form.password }}
						<div class='forgot-pass-link'>
							<h6><b><a href="{% url 'password_reset' %}">{% trans 'Forgot Password?' %}</a></b></h6>
						</div>
					</div>
					<div class='btn-signin-cont'>
						<input type="hidden" name="next" value="{% url 'view_dashboard' %}">
						<input class='btn btn-signin' type="submit" value={% trans 'Sign In' %}>
						<span class='stay-signed-in-cont'>
							<input type='checkbox'>
							<h6>{% trans 'Stay Signed In' %}</h6>
						</span>
					</div>
					</form>
				</div>
			</div>
			<div class='signin-dropdown signin-dropdown-org'>
				<div class='signin-dropdown-inner'>
					<h5>{% trans 'Organization Login' %}</h5>
					<form method="post" action="{% url 'login' %}">
					{% csrf_token %}
{% if form.errors %}
						<p>{% trans "Your username and password didn't match." %}</p>
						<p>{% trans "Please try again." %}</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
		<p>{% trans "Your account doesn't have access to this page." %}</p>
		<p>{% trans	"To proceed, please login with an account that has access." %}</p>
    {% else %}
    <p>{% trans 'Please login to see this page.' %}</p>
    {% endif %}
{% endif %}
					<div class='signin-input-cont'>
						<h6>{{ form.username.label_tag }}</h6>
						{{ form.username }}
					</div>
					<div class='signin-input-cont'>
						<h6>{{ form.password.label_tag }}</h6>
						{{ form.password }}
						<div class='forgot-pass-link'>
							<h6><b><a href="{% url 'password_reset' %}">{% trans 'Forgot Password?' %}</a></b></h6>
						</div>
					</div>
					<div class='btn-signin-cont'>
						<input type="hidden" name="next" value="{% url 'view_dashboard' %}">
						<input class='btn btn-signin' type="submit" value={% trans 'Sign In' %} >
						<span class='stay-signed-in-cont'>
							<input type='checkbox'>
							<h6>{% trans 'Stay Signed In' %}</h6>
						</span>
					</div>
					</form>
				</div>
			</div>
		</div>
		<h4><b class='btn-create-account'><a href="{% url 'signup' %}">{% trans 'Create User Account' %}</a></b></h4>
		<h4><b class='btn-create-account'><a href="{% url 'org_signup' %}">{% trans 'Create Organization Account' %}</a></b></h4>

		</div>
	</div>

	<script>
		$(document).ready(function() {
			$(".btn-signin-vol").click(function() {
				$(".btn-signin-vol").css("opacity", ".6");
				$(".btn-signin-org").css("opacity", "1");

				$(".signin-dropdown-vol").css("display", "block");
				$(".signin-dropdown-org").css("display", "none");
			});

			$(".btn-signin-org").click(function() {
				$(".btn-signin-org").css("opacity", ".6");
				$(".btn-signin-vol").css("opacity", "1");

				$(".signin-dropdown-org").css("display", "block");
				$(".signin-dropdown-vol").css("display", "none");
			});
		});
	</script>



{% endblock %}
