{% extends 'base_nav.html' %}

{% load i18n %}

{% block page_title %} {% trans "View Proof" %} {% endblock %}

{% block main_content %} 

  <div class='inside-body'>
    <div class='center-body'>
      <div class='innercont-center-body'>
        <div class='innercont-center-inner'>
          <div class='form-cont'>
            <h2>Proof {{ conversation.guid }} {{ conversation.status }}</h2>
              <div></div>
              <div>
                <h3>{% trans "Revealed:" %}</h3>
                {% for attr, value in proof.presentation.requested_proof.revealed_attrs.items %}
                <h4>{{ attr }} = {{ value.raw }}</h4>
                {% trans "Cred Def" %}: {{ value.identifier.cred_def_id }}
                {% endfor %}
              </div>
              <div>
                <h3>{% trans "Predicates (ZKP's):" %}</h3>
                {% for attr, value in proof.presentation.requested_proof.predicates.items %}
                <h4>{{ attr }}</h4>
                {% trans "Cred Def" %}: {{ value.identifier.cred_def_id }}
                {% endfor %}
              </div>
              <div>
                <h3>{% trans "Self-attested:" %}</h3>
                {% for attr, value in proof.presentation.requested_proof.self_attested_attrs.items %}
                <h4>{{ attr }} = {{ value.raw }}</h4>
                {% endfor %}
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
