{% extends request.session.ARIES_PROFILE %}
{% load i18n %}
{% load static %}

{% block profile_content %}
<div class="w3-main" style="margin-left:350px;margin-top:43px;">
        <body class="w3-light-grey">
                <form action="{% url 'send_invitation_org' %}" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if not field.is_hidden %}
                            <h5>{{ field.label_tag }}</h5>
                        {% endif %}
                        {{ field }}
                        {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    <button class='btn' type="submit">{% trans "Submit" %}</button>
                </form>

        </div>
     <div>
     </div>
</body>
{% endblock %}